{% extends 'homepage/headfoot.html' %}
{% load static %}

{% block content %}
        <div class="text-center">
            <br>
            <h3>Our Mentor</h3>
            <br>
        </div>
        {% for data in mentor %}
        <div class="container bg-content">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ data.gambar.url }}" class="pict"/>
                </div>
                <div class="col-md-8">
                    <h2>{{ data.name }}</h2>
                    <h5>{{ data.pengalaman }}</h5>
                    <h4>{{ data.pesan }}</h4>
                </div>
            </div>
        
        </div>
        {% endfor %}
    {% endblock %}