{% extends 'homepage/headfoot.html' %}
{% load static %}

{% block content %}
        <div class="container bg-content">
                <div class="row">
                    <div class="col-md-4">
                        <img src="static/img/benefit.png">
                    </div>
                    <div class="col-md-8">
                        <h2>Learn awesome tech</h2>
                        <h5>You will learn about programming language, such as Python and Javascript, 
                            build back-end apps using Flask framework with microservice concept, 
                            build client-site apps using React Library, etc.</h5>
                    </div>
                    <div class="margin">
                    <div class="row">
                    <div class="col-md-4">
                            <img src="static/img/search-job.png">
                        </div>
                        <div class="col-md-8">
                            <h2>Land new job</h2>
                            <h5>If you can pass this awesome program, you will be part of our reliable tech team 
                                for especially Software Engineer position and other tech position such as Quality Engineer, System Analyst, etc.</h5>
                        </div>
                    </div>
                    </div>
                    <div class="margin">
                    <div class="row">
                    <div class="col-md-4">
                            <img src="static/img/get-paid.png">
                        </div>
                        <div class="col-md-8">
                            <h2>Get paid to learn</h2>
                            <h5>Join for free and earn some money. Yes you read that right, no registration 
                                fee required to enter this program. To make things even better, 
                                you will receive pocket money just for participating. Cool, right?</h5>
                        </div>
                    </div>
                    </div>
                    <div class="margin">
                    <div class="row">
                    <div class="col-md-4">
                            <img src="static/img/mission.png">
                        </div>
                        <div class="col-md-8">
                            <h2>Who are we?</h2>
                            <h5>Alpha Tech Academy is a tech talent incubation that gives anyone any chance 
                                (not even an IT background) to learn within 3 months of being a professional Tech Talent. 
                            <h2>What is our mission?</h2>
                            <h5>We want to improve capability Tech Talent in Indonesia</h5>
                        </div>
                </div>
            </div>
        </div>
        </div>
            <br>
        <h2 class="text-center">What will you learn?</h2>
        <div class="container">
            <div class="row text-center text-lg-left">
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="static/img/learn-html.png" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="static/img/learn-programming.png" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="static/img/learn-git.png" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="static/img/learn-api.png" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="static/img/learn-react.png" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="static/img/learn-tdd.png" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="static/img/learn-server.png" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail" src="static/img/learn-scrum.png" alt="">
            </div>
            </div>  
        </div>
    {% endblock %}